streamlit
pandas
numpy
requests
plotly
backtesting
matplotlib
ccxt
ta
scikit-learn
tensorflow
telegram
python-telegram-bot
psutil
fpdf
reportlab
streamlit-autorefresh
shap
lifelines
pandas-ta
xgboost
anthropic
groq
mistralai
openai
tweepy
textblob
